.btn-floating {
    background: url(../images/iconos/ic_reorder_whites.png) no-repeat;
}
.side-nav {
    top: 0;
    margin: 0;
    height: calc(100% + 60px);
    background-color: #fff;
    overflow-y: auto;
    will-change: transform;
}
.row {
    margin-bottom: 0px;
}
.collection {
    border: 0px solid #e0e0e0;
}
.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
        width: 72px;
        height: 42px;
        padding: 0px;
}
.circle {
    border-radius: 0%;
}
.imgProducto {
    max-width: 100%;
}
.tables td {
    font-size: 10px;
}
.card .card-content {
    padding: 10px;
}
.collection.with-header .collection-item {
    padding-left: 0px;
}
@media(max-width: 1024px) {
    .side-nav {
        display: none;
    }
    .collection .collection-item.avatar {
        padding-left: 70px;
    }
    .row .col.s5 {
        width: 50%;
    }
    .card .card-title {
        font-size: 19px;
    }
}
@media(min-width: 800px){
    .container {
        max-width: 63%;
    }
    .side-nav {
        max-width: 20%;
        display: block;
    }
    .container2 {
        width: 100%;
        margin: -300px 30px 0px;
    }
    .collection .collection-item.avatar {
        min-height: 50px;
        padding-left: 40px;
        max-width: 90%;
    }
    .card .card-title {
        font-size: 22px;
    }
}

